# --- Права пользователя Docker (Обычно 1000 для Linux/WSL, на Mac игнорируется) ---
APP_UID=1000
APP_GID=1000

# --- Настройки для контейнера базы данных MySQL ---
DB_DATABASE=micro_laravel
DB_USERNAME=laravel
DB_PASSWORD=password
DB_ROOT_PASSWORD=root_password
