APP_NAME="Smart Docs"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8087
ASSET_URL=http://localhost:8087
VITE_ASSET_URL=${ASSET_URL}

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=micro_laravel
DB_USERNAME=laravel
DB_PASSWORD=password

CACHE_STORE=redis
QUEUE_CONNECTION=sync
REDIS_HOST=redis
REDIS_PORT=6379

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=123456
REVERB_APP_KEY=smartdocskey
REVERB_APP_SECRET=smartdocssecret
REVERB_HOST="0.0.0.0"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="localhost"
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME="http"
